<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>chat app</title>
 
 <style>
  .sender{
    text-align: right;
  }
 </style>

 <!-- socket api -->
 <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

</head>
<body>
 
 <input type="text" id="message" />
 <button onclick="sendMessage()"> send messge </button>
 <div id="msg"></div>




 <script>
  const username = prompt('Tell us your username', "manojindak");
  const name = prompt('Your name  gentle man', "manoj")

  const socket = io('http://localhost:3001')
  socket.on('connection')
  
  if(username && name){
    socket.emit('userlogin', {
      username: username,
      name: name
    })
  }

  
  const sendMessage =()=> {
    socket.compress(false).emit('message', {
      "message":document.getElementById('message').value,
      id:{
        username:username,
        name:name
        }
      }
    )
  }

  const msg = copy => document.getElementById('msg').innerHTML +=  `<b>${copy.id.username}</b> <span>${copy.message}</span> <br /> <hr />`
  const snd = copy => document.getElementById('msg').innerHTML +=  `<div class="sender"><span>${copy.message}</span> <b>${copy.id.username}</b></div> <br /> <hr />`
  const db = copy => {
    console.log(copy);
  }

  socket.on('message', (data)=>{
    msg(data)
  })
  socket.on('sender', (data)=>{
    snd(data)
    db(data);
  })
</script>

</body>
</html>